PORT=8000

SELENIUM_URL=http://selenium.railway.internal:4444/wd/hub
SCRAPE_URL=https://www.scrapethissite.com/

GUNICORN_HOST=0.0.0.0
GUNICORN_BIND=
GUNICORN_WORKERS=2
GUNICORN_WORKER_CLASS=sync
GUNICORN_TIMEOUT=120
GUNICORN_KEEPALIVE=5
GUNICORN_LOG_LEVEL=info
GUNICORN_ACCESS_LOG=-
GUNICORN_ERROR_LOG=-
